body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F172A;
}
#users div {
    box-shadow: 0 4px 8px #0F172A;
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 4px;
    background-color: #d4d6da;
    border: 1px solid #E2E8F0;
}
.name{
    font-weight: bold;
    font-size: larger;
}
#h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.username,.email{
    font-size:small;
}
.loading{
    color: #d4d6da;
    font-size: larger;
    font-weight: bolder;
}