body{
    align-items: center;
    justify-content: center;
    display: grid;
    flex-direction: column;
}
.completed{
    display:flex;
    align-items: center;
    gap:8px;
    font-size:18px;
}
#addbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    
    border-radius: 4px;
    background-color: #007bff;
    color: aliceblue;
    border: none;

}
#delbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    
    border-radius: 4px;
    background-color: red;
    color: aliceblue;
    border: none;
    margin-left: 20px;
}
#input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 12px 24px;
    font-size: 16px;

}
#p {
    white-space: pre-line;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
#btn{
    
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.btn:hover {
  background-color: #0056b3;
  
}